@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<body style="">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div  class="text-center">
        <p style="font-size:32px">You have successfully logged out of your profile.</p>
    </div>
</body>