@{
    ViewData["Title"] = "Upload file";
}


<form method="post" enctype="multipart/form-data" asp-controller="File" asp-action="FileUpload">
    <div class="uploadfilebox">
        <img src="~/Images/FileAdd.png" class="addfile" />
        <div class="form-group row ml-5 mt-5">
            <div class="col-md-20">
                <h1>Counter</h1>
                <h4>Choose file to upload</h4>
                <input type="file" name="someFile" />
                <div class="form-group mt-2">
                    <input type="submit" value="FileUpload" />
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <span id="currState">@TempData["msg"]</span>
        </div>
        <div class="text-center">
            <script src="~/js/Redirect.js"></script>
        </div>
    </div>
</form>


