@{
    ViewData["Title"] = "Home Page";
}

<div id="mainTag" style="background-color:transparent;">
    <div class="text-center">
        <h1 class="display-4">Welcome to GameCo</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>

    @*Slider*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container d-flex align-items-center">
                    <div class="row align-items-center">
                        <a href="~/Games/AirHockey/index.html">
                            <img class="img-fluid" src="~/Images/AirHockey.png" alt="First slide">
                        </a>
                    </div>
                    <div class="col-12 col-md-4 offset-md-1 ml-md-auto text-left">
                        <h1>Air Hockey</h1>
<<<<<<< Updated upstream
                        <p>This is our new game Air Hockey.</p>
=======
                        <p style="font-size:22px;">This is our new game Air Hockey.</p>
                        <div>
                            <p style="font-size:22px;">Rate this game:</p>
                            <fieldset>
                                <span class="star-cb-group">
                                    <input type="radio" id="rating-6" name="rating" value="6" /><label for="rating-6"></label>
                                    <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5"></label>
                                    <input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4"></label>
                                    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3"></label>
                                    <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2"></label>
                                    <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1"></label>
                                </span>
                                <p id="rating" src="~/js/Rating.js"></p>
                                <script src="~/js/Rating.js"></script>
                            </fieldset>
                        </div>
>>>>>>> Stashed changes
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container d-flex align-items-center">
                    <div class="row align-items-center">
                        <img class="img-fluid" src="~/Images/Foxy.png" alt="Second slide">
                    </div>
                    <div class="col-12 col-md-4 offset-md-1 ml-md-auto text-left">
                        <h1>The Adventures of Foxy</h1>
<<<<<<< Updated upstream
                        <p>Explore the vast and enthrilling world of Foxilia.</p>
=======
                        <p style="font-size:22px;">Explore the vast and enthrilling world of Foxilia.</p>
                        <div>
                            <p style="font-size:22px;">Rate this game:</p>
                            <fieldset>
                                <span class="star-cb-group">
                                    <input type="radio" id="rating-6" name="rating" value="6" /><label for="rating-6"></label>
                                    <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5"></label>
                                    <input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4"></label>
                                    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3"></label>
                                    <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2"></label>
                                    <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1"></label>
                                </span>
                            </fieldset>
                        </div>
>>>>>>> Stashed changes
                    </div>
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
